<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">CRM App</a>
    <div class="navbar-brand">
      <button type="button" class="navbar-toggler" (click)="collapsed = !collapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav mr-auto">
        <!-- Dashboard view commented out until further notice <li class="nav-item"><a [routerLink]="['dashboard']" [routerLinkActive]="'active'" class="nav-link" >Dashboard</a></li> -->
        <li class="nav-item"><a [routerLink]="['contacts']" [routerLinkActive]="'active'" class="nav-link" >Contacts</a></li>
        <!-- Properties view commented out until further notice <li class="nav-item"><a [routerLink]="['properties']" [routerLinkActive]="'active'"class="nav-link" >Properties</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown" (click)="show = !show">
          <button type="button" [routerLink]="['login']" class="btn btn-outline-secondary" role="button">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
