<div class="row">
  <div class="col-sm-12">
    <img [src]="property.imagePath" alt="" class="card-img">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="d-flex justify-content-between">
      <h1>{{ property.name }}</h1>
      <h2>{{ property.price }} €</h2>
    </div>
    <h3>{{ property.address }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Property <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Contact List</a></li>
        <li><a href="#">Edit Property</a></li>
        <li><a href="#">Delete Property</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    Description
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    Map
  </div>
</div>
