<div class="card">
  <img [src]="property.imagePath" alt="" class="card-img-top">

    <div class="col-sm-12 mt-2">
      <div class="d-flex justify-content-between">
        <h2 class="card-title">{{ property.title }}</h2>
        <h4 class="card-title">{{ property.price | number }} €</h4>
      </div>
      <p class="card-body">{{ property.address }}</p>
      <p class="card-body">Description</p>

      <div appDropdown class="btn-group mb-2" id="dropdownBtn" (click)="show = !show">
        <button class="btn btn-primary dropdown-toggle">
          Manage Property <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" [class.show]="show">
          <li><a [routerLink]="['/properties']" class="n">To Contact List</a></li>
          <li><a [routerLink]="['/properties/' + property.id + '/edit']" >Edit Property</a></li>
          <li><a href="#">Delete Property</a></li>
        </ul>
      </div>
    </div>
</div>

