.contact-details-container
  background-color: #dee2e6
  padding: 1rem 2rem
  border-radius: 4px

.contact-subtitle
  h1
    font-size: 20px
  h2
    font-size: 18px
  h3
    font-size: 16px

.item-list
  p
    font-size: 15px


