<div class="row">
  <div class="col-sm-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="d-flex justify-content-between">
      <h1>{{ contact.firstname }} {{ contact.lastname }}</h1>
      <h2>{{ contact.job }}</h2>
    </div>
    <h3>{{ contact.address }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div appDropdown class="btn-group mb-2" id="dropdownBtn" (click)="show = !show">
      <button class="btn btn-primary dropdown-toggle" aria-expanded="false">
        Manage Contact <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" [class.show]="show">
        <li class="ml-2"><a (click)="onEditContact()" style="cursor: pointer;">Edit Contact</a></li>
        <li class="ml-2"><a (click)="onDeleteContact(+contact.id)" style="cursor: pointer;">Delete Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    Notes: <p>####</p>
    Email: <p>{{ contact.email }}</p>
    Profession: <p>{{ contact.job }}</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    Map
    <app-map></app-map>
  </div>
</div>
