<div class="row">
  <div class="col-sm-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="d-flex justify-content-between">
      <h1>{{ contact.firstname }} {{ contact.lastname }}</h1>
      <h2>{{ contact.job }}</h2>
    </div>
    <h3>{{ contact.address }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">
        Manage Contact <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To Property List</a></li>
        <li><a href="#">Edit Contact</a></li>
        <li><a href="#">Delete Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    Notes
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    Map
  </div>
</div>
