<div [hidden]="!authenticated()">
  <h1>Greeting</h1>
  <p>Salut toi!</p>
</div>
<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" class="unauthenticated" [hidden]="authenticated()" novalidate>
<section class="vh-100" style="background-color: #508bfcb0;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>

            <div [ngClass]="{ 'has-error': f.submitted && !username.valid }" class="form-outline mb-4">
              <input type="text"
                     name="username" [(ngModel)]="user.username"
                     class="form-control form-control-lg"
                     #username="ngModel" required />
              <label class="form-label" for="username">Username</label>
              <div *ngIf="f.submitted && !username.valid">Username is required</div>
            </div>

            <div [ngClass]="{ 'has-error': f.submitted && !password.valid }" class="form-outline mb-4">
              <input type="password"
                     name="password" [(ngModel)]="user.password"
                     class="form-control form-control-lg"
                     #password="ngModel" required />
              <label class="form-label" for="password">Password</label>
              <div *ngIf="f.submitted && !password.valid">Password is required</div>
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-start mb-4">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="form1Example3"
              />
              <label class="form-check-label" for="form1Example3"> Remember password </label>
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
<div class="container authenticated" style="display:none">
  Logged in as: <span id="user"></span>
</div>
<script type="text/javascript">
    $.get("/user", function(data) {
        $("#user").html(data.name);
        $(".unauthenticated").hide()
        $(".authenticated").show()
    });
</script>
