<a [routerLink]="property.id"
   class="list-group-item list-group-item-action clearfix mb-2 mt-2 card-product"
(click)="onSelect()">
    <div class="card-product-infos">
      <div class="d-flex justify-content-around align-content-center mb-2">
        <h2 class="list-group-item-heading">{{ property.title }}</h2>
        <p class="list-group-item-text">{{ property.price | number }} €</p>
      </div>
      <p class="list-group-item-text mb-1">{{ property.address }}</p>
      <p class="list-group-item-text mb-1">{{ property.size }} m2</p>
    </div>

    <img [src]="property.imagePath" alt="{{ property.title }}">
</a>
