<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success">New Contact</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 list-group">
    <app-contact-item
      *ngFor="let contactElement of contacts"
      [contact]="contactElement"
    (selectedContact)="onContactSelected(contactElement)">
    </app-contact-item>
    <button class="btn btn-info" (click)="collapsed = !collapsed">Edit</button>
    <app-contact-edit *ngIf="collapsed"></app-contact-edit>
  </div>
</div>

